<bootstrap-panel>
    <div class="heading">
        <h2>sdgfasdfasdfas</h2>
        <p>asdfasdf</p>
        <span>Heading</span>
    </div>
    <div class="body">
        <h2>Body</h2>
        <p>Some content here...</p>
    </div>
</bootstrap-panel>
<!--
	One way to set heading and the body is use property binding ([body]="body"), 
	so we can define input properties like heading and body
	and set them to the body property of app component.
	But i dont want to go to our component and define a property called body 
	and there add my markup. I want to do it here.
-->